body {
    font-family: "Roboto";
    background-color: #ebeae8;
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
}

#title {
    background-color: #f1f1f1;
    align-content: center;
    text-align: center;
    font-size: 30px;
    color: #2f2f2f;
    padding: 2px;
}

#navig {
    min-height: 67px;
    max-width: 300px;
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px #000000;
}
.navig_button {
    font-size: 20px;
    align-content: center;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    background-color: #ffffff;
    padding: 10px;
}.navig_button:hover {
    background-color: #ffc000;
    color: #ffffff;
}

#cart {
    min-height: 100px;
    max-width: 300px;
    margin: 20px;
    background-color: #fdd55b;
    box-shadow: 0px 0px 4px 0px #000000;
    border-radius: 5px;
}
#cart_title {
    display: grid;
    color: #ffffff;
    background-color: #ffc000;
    font-size: 28px;
    text-align: center;
    height: 60px;
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 1px #d1a600;
    overflow: hidden;
    font-family: 'Times New Roman';
}
#cart_img {
    width: 40px;
    height: 32px;
    margin-right: 15px;
    filter: drop-shadow(1px 1px 0px #d1a600)
            drop-shadow(1px 1px 0px #d1a600)
            drop-shadow(1px 1px 0px #d1a600)
            drop-shadow(1px 1px 0px #d1a600)
            drop-shadow(1px 1px 0px #d1a600)
            drop-shadow(1px 1px 0px #d1a600)
            drop-shadow(1px 1px 0px #d1a600)
            drop-shadow(1px 1px 0px #d1a600)
            drop-shadow(1px 1px 0px #d1a600)
            drop-shadow(1px 1px 0px #d1a600)
            drop-shadow(1px 1px 0px #d1a600);
    z-index: 1;
}
#cart_shadow {
    width: 54px;
    height: 38.2px;
    background-color: #d1a600;
    margin-left: -37px;
    margin-bottom: -54px;
    transform: rotate(45deg);
    z-index: 0;
}
#cart_manage {
    display: grid;
    justify-items: center;
}
#cart_content {
    margin: 8px;
    color: #3e3f42;
    font-family: 'Times New Roman';
    font-size: 18px;
    border-collapse: collapse;
} 
#cart_content thead th {
  border-bottom: 2px solid #d1a600;
  padding-bottom: 8px;
  padding-right: 18px;
  padding-left: 18px;
}
#cart_content tfoot tr td {
    font-weight: bold;
    text-align: center;
}
#cart_button {
    margin: 20px;
    width: 180px;
    font-size: 12px;
    font-weight: 800;
    border: none;
    outline: none;
    background-color: #808080;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 0px #000000;
}

#product_list {
    display: flex;
    flex-wrap: wrap;
}
.product {
    display: grid;
    justify-items: center;
    margin: 25px;
}
.product_market {
    width: 300px;
    margin-bottom: 20px;
}
.product_img {
    height: 220px;
    width: 220px;
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    background-color: #ffffff;
    outline: 15px solid #f5c300;
    margin-bottom: 20px;
}
.product_description {
    margin: 8px;
    color: #3e3f42;
    font-family: 'Roboto';
    font-size: 22px;
    border-collapse: collapse;
}
.product_description thead th {
    border-bottom: 3px solid #3e3f42;
    padding-bottom: 8px;
}
.product_description tbody tr td {
    border-bottom: 3px solid #3e3f42;
    padding-bottom: 25px;
    font-size: 16px;
}
.product_description tfoot tr td {
    color: #d85d38;
    text-align: center;
}
.product_value {
    margin-top: -18px;
    text-align: center;
}
.product_val_changer {
    display: grid;
    grid-auto-flow: column;
}
.product_val_changer button {
    height: 30px;
    width: 30px;
    font-size: 25px;
    font-weight: 900;
    border: none;
    outline: none;
    background-color: #ebeae8;
    color: #ebeae8;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px #000000;
    display: grid;
    justify-content: center;
    align-content: center;
    text-shadow: 
    -1px -1px 1px rgba(0, 0, 0, 0.5),
    1px 1px 1px rgba(255, 255, 255, 0.8);
}
.product_val_indicator {
    background-color: #ffffff;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 40px;
    width: 70px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #000000;
}
.product_add_to_cart {
    margin: 20px;
    width: 180px;
    font-size: 14px;
    font-weight: 800;
    border: none;
    outline: none;
    background-color: #f5c300;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 0px #634f00;
}